FPGA\ Bitfiles
*.lvlps
*.aux
*.log
*.synctex.gz
latex/auto
*.zip
*.rar
*.JPG
*.lvbitx
*.fig
*.csv
*.mat
acc2018-data
qpPaper/
quadProg/
qpFPGA_*
dsp48e_hdl_mac/
afm_imaging_sandbox/
LRC_ptos_tac/
MAC_project.zip
Program Files (x86)/


*.dll
*.wdb
*.wdb
*.wdb
*.wdb
*.wdb
*.wdb
*.wdb
*.wdb
isim/


afm_imaging/matlab-code/functions/export_fig
afm_MPC_compare -optimize/
afm_MPC_compare/
afm_MPC_project/
afm_ss_singlematrix/
afm_ss_singlematrix_FXP/
.svn/
slprj
*.autosave
*~
afm_imaging/matlab-code/figures/RESULTS/
