FPGA\ Bitfiles
*.lvlps
*.aux
*.log
*.synctex.gz
latex/auto
*.zip
*.rar
*.JPG
*.lvbitx
*.fig
*.csv
*.mat
acc2018-data
*.slxc

qpPaper/
quadProg/
qpFPGA_*
dsp48e_hdl_mac/
afm_imaging_sandbox/
LRC_ptos_tac/
MAC_project.zip
Program Files (x86)/

svg-inkscape/
ltximg/
\#*
.\#*
notes.html
test.html
test.org
*.avi
*.mp4
*.svg
*.tif

*.png
*.pdf
*.jpg
*.jpeg
*.odp\#
*.out
*.synctex.gz
*.log
auto/
*.exe
TAGS

GPATH
GRTAGS
GTAGS
cJSON
cJSON.c
cJSON.h
cgsolve
test_l1magic
test_data/
src_unused/
cgsolve_tmp.m
l1qc_newton_tmp.m

l1qc.m
l1qc_opts.m
matlab-code/legacy/

*.so
*.o
*.dll
*.wdb
*.wdb
*.wdb
*.wdb
*.wdb
*.wdb
*.wdb
*.wdb
isim/


matlab-code/functions/export_fig
afm_MPC_compare -optimize/
afm_MPC_compare/
afm_MPC_project/
afm_ss_singlematrix/
afm_ss_singlematrix_FXP/
.svn/
slprj
*.autosave
*.mexa64
*.mexw64

*~
matlab-code/figures/RESULTS/
matlab-code/tuesday-figs/





c-src/libfit_zpk32_lv/
frf_test_data.json
matlab-code/legacy/process_cs_data.m
*.json
c-src/sweptSines_lib/
mpt-connect-play/
matlab-code/notes/tables/*